// #Loging & Signup -------------------------------------------------------------------
.signup, .login {
	page {
//		margin: 0 auto;
//		width: $globalWidths;
//		@include vertical-middle (50%, 50%);
	}
	input.terms {
//		width: auto;
	}
}

.login {

}

.signup {
	input[type=checkbox] {
		margin-right: 10px;
	}
	logo {
		margin-top: 30px;
	}
	footer {
		margin-top: 20px;
	}
}

// #Logged In -------------------------------------------------------------------

.home {
	header {
		.loggedin {
			position: absolute;
			width: 100%;
			z-index: 2;
		}
	}
}