// #Loging & Signup -------------------------------------------------------------------
.signup, .login {
	page {
		margin: 0 auto;
		width: $globalWidths;
	}
	input.terms {
		width: auto;
	}
}

.login {
	header {
		width: 100%;
		@include vertical-middle (20%, 50%);
	}
	& page {
//		margin-bottom: 200px;
	}
}

.signup {
	input[type=checkbox] {
		margin-right: 10px;
	}
	logo {
		margin-top: 30px;
	}
	footer {
		margin-top: 20px;
	}
}

// #Logged In -------------------------------------------------------------------
.home {
	page {
		height: 100%;
	}
}