@mixin input-states ($color) {
  border-color: $color;
  color: $color;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

@mixin placeholder-color ($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &.placeholder {
    color: $color;
  }
}

@mixin swap-button-color($color, $hover, $active) {
 background-color: $color;

 &:hover,
 &:focus,
 .btn-group:focus &.dropdown-toggle {
   background-color: $hover;
 }
 &:active,
 .btn-group.open &.dropdown-toggle,
 &.active {
   background-color: $active;
 }
}

@mixin vertical-middle ($top:50%, $left:50%){
	position: absolute;
	left: $left;
	top: $top;
	transform: translate(-$left, -$top);
	-webkit-transform: translate(-$left, -$top);
	-moz-transform: translate(-$left, -$top);
	-ms-transform: translate(-$left, -$top);
}

@mixin ellipsis ($width:false) {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	@if $width == true {
		width: 100%;
	}
}



//@mixin vertical-middle ($top:'50%', $left:'50%'){
//	position: absolute;
//	left: $left;
//	top: $top;
//	transform: translate(-$top, -$left);
//	-webkit-transform: translate(-$top, -$left);
//	-moz-transform: translate(-$top, -$left);
//	-ms-transform: translate(-$top, -$left);
//}