/* Table of Contents
==================================================
		#Imported Fonts
    #Fonts
    #Typography
    #Blockquotes
    #Links
    #Lists
		#Images
		#Figures
		#Tables
		#File Types
		#RTL Overrides
*/
/* #Imported Fonts ------------------------------------------------------------------------ */
@include font-face(sdFont, font-files("sdFont.ttf.woff"));

/* #Fonts ------------------------------------------------------------------------ */
$sdFont: sdFont, Arial, serif;
$textFont: Arial, Trebuchet, sans-serif;
//$fontSize: 62.5%;
$fontSize: 18px;
$lineheight: 18px;

// Icons
$icon-normal: 16px;
$icon-medium: 18px;
$icon-large:  32px;

/* #Text shadow default effects ------------------------------------------------------------------------ */
$default-text-shadow-color: rgba(black, 0.3);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

/* #Page Typography ------------------------------------------------------------------------ */
//html {font-size: $fontSize}
body {padding: 0; margin:0; font-family: $textFont; color: $textColor; font-size: $fontSize;line-height: $lineheight;}

// #Links ---------------------------------------------------------------------
a, a:visited { color: $linkColor; text-decoration: none; outline: 0; font-weight: bold }
a:hover, a:focus { color: $linkColorHover; text-decoration: none; }
p a, p a:visited { line-height: inherit; }

// #Headers ---------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	color: $textColor;
	font-family: $sdFont;
	font-weight: normal;
	text-align: center;
	@include single-text-shadow;
}

h1 {font-size: 2.5em;}
// #Img ---------------------------------------------------------------------
img {width: 100%}