/* Table of Contents
==================================================
    #COLOURS
*/
//  Base Colours --------------------------------------------------------------
$textColor:						#FFF;
$textColorAlt:                  #191919;
$mainGreen:                     #6CB7B4;
$bgColor:	                    #9acdcb;
$logoGrey: 						#7F7F7F;

//  Sexes --------------------------------------------------------------
$hands:#DFDFFF;
$oral:#FFDFBF;
$sex:#DC87B1;
$anything: #230e0e;

//
// Color Swatches
// --------------------------------------------------
$lightgreen:    #B9DCDB;
$turquoise:     #7CBEBB;
$green-sea:     #75B4B1;

$emerald:       #60ACA8;
$nephritis:     #27ae60;

$peter-river:   #3498db;
$belize-hole:   #2980b9;

$amethyst:      #9b59b6;
$wisteria:      #8e44ad;

$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;

$sun-flower:    #f1c40f;
$orange:        #f39c12;

$carrot:        #e67e22;
$pumpkin:       #d35400;

$alizarin:      #e74c3c;
$pomegranate:   #c0392b;

$clouds:        #ecf0f1;
$silver:        #bdc3c7;

$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

//  Base Colours --------------------------------------------------------------

$base:             $wet-asphalt;
$firm:             $turquoise;

$gray:             $concrete;
$lightgray:        $silver;
$inverse:          white;

$success:          $emerald;
$danger:           $alizarin;
$notice:           $orange;
$warning:          $sun-flower;
$info:             $peter-river;

$linkColor:       $green-sea;
$link-hover-color: $turquoise;

//  Greys ----------------------------------------------------------------------
$lightGray:      								#605f5b;
$main-color:									#B9DCDB;
$main-color-alt:                                #99b8b7;
$main-grey:									    #7F7F7F;
$border-color:								    #7F7F7F;
$blueBorderColor:								#569BC5;
$border-color-alt:								#f0f0ee;
$highlight-color:								#00A7E1;
$form-bg-color:									#eeede8;
$plain-link-color:								#666666;
$grayscale:										url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

//  Link Colours ---------------------------------------------------------------
$linkColor:           							$mainGreen;
$linkColor-visited:    						    darken($mainGreen, 90%);
$linkColorHover:     							darken($mainGreen, 50%);
$linkColor-active:     						    $main-color;
$alt-link-color: 								#ffd300;
$background-alt: 								#F0F0F0;

//  Button Colours ---------------------------------------------------------------
$button-text:           $inverse;
$button-hover:          mix($lightgray, white, 80%);
$button-active:         mix($lightgray, black, 85%);
$button-primary-hover:  mix($firm, white, 80%);
$button-primary-active: mix($firm, black, 85%);
$button-info-hover:     mix($info, white, 80%);
$button-info-active:    mix($info, black, 85%);
$button-success-hover:  mix($success, white, 80%);
$button-success-active: mix($success, black, 85%);
$button-danger-hover:   mix($danger, white, 80%);
$button-danger-active:  mix($danger, black, 85%);
$button-warning-hover:  overlay($warning, darken(white, 37.5%));
$button-warning-active: mix($warning, black, 85%);
$button-inverse-hover:  overlay($base, darken(white, 37.5%));
$button-inverse-active: mix($base, black, 85%);

//  Widths -------------------------------------------------------------
$globalWidths: 80%;
//  Border Colours -------------------------------------------------------------
$buttonText:                                    $textColorAlt;
$border:                                        $mainGreen;

// Progress/slider
// -------------------------
$progress-height: 12px;