/* #Compass imports ------------------------------------------------------------------------ */
@import "susy";
@import "compass/reset";
@import "compass/css3";
/* #Imports dependencies ------------------------------------------------------------------------ */
@import
"_mixins",
//"_origi",
"_variables",
"_typography",
"modules/_input",
"modules/_buttons",
"modules/_overlay",
"modules/_touchcarousel",
"_ie",
"_print",
"_home",
"_sex",
"_loginsignup";

/* #Config ------------------------------------------------------------------------ */
// Setting up the Magic Grid
$total-columns: 12;
// 12 columns
$column-width: 4em;
// columns are 4em wide
$gutter-width: 1em;
// with 1em gutters
$grid-padding: 1em;
// and 1em padding on the grid container

$container-width: 100%;

@include border-box-sizing;
/*
==================================================
Table of Contents
==================================================
    #Main Styles
      #logo
      #Header
      #Content
      	#page
      #footer
*/
* {background-size: 100%;background-repeat: no-repeat;}

/* #Main Styles ------------------------------------------------------------------------ */
body {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
//	border: 3px solid black;
	text-align: center;
	background-color: #9acdcb;
//	@include transition-duration(1.5s);
}

debug {
	position: absolute;
	top: 0;
	z-index: 4;
	li {
		background: none repeat scroll 0 0 #53838E;
		padding: 3px;
		@include clearfix();
		width: 100%;
		border-bottom: 1px solid #DDD;
		font-size: 10px;
		line-height: 10px;
	}
}

// #Header -------------------------------------------------------------------
header {
	padding: 8px 0;
	@include clearfix();
	> * {
		height: 100%;
	}
	// #Logo -------------------------------------------------------------------
	logo {
		color: $main-grey;
		font-family: $sdFont;
		display: block;
		a {
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #FFF;
			color: $logoGrey !important;
			.loggedin & {
			}
			span {
				color: #FFF;
				-webkit-text-stroke-color: $logoGrey;
			}
		}
	}
	&.loggedin {
		@include background-image(linear-gradient($turquoise, $green-sea));
		border-bottom: 1px solid $emerald;
	}
	menuBtn {
		@include span-columns(1, 12);
		background: url(../img/icons/sm_menu.png) no-repeat;
		display: block;
		height: 24px;
		text-indent: -9999em;
		cursor: pointer;
	}
	.title {
		@include span-columns(10, 12);
		font-family: $sdFont;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.48);
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
	}
	.logout {
		@include span-columns(1 omega, 12);
		color: #fff;
	}
}


// #content -------------------------------------------------------------------
content {
	@include container;
	padding: 0;
	width: 100%;
	height: 100%;

	// #page -------------------------------------------------------------------
	page {
		display: block;
		width: 100%;
		height: 81.3%;
		position: relative;
		top: 0;
		overflow: scroll;
		@include pie-clearfix;
	}
}

// #btns -------------------------------------------------------------------
a.signup {
	background: $sex;
}

// #social -------------------------------------------------------------------
.social {
	margin: 0 auto;
	width: $globalWidths;
	@include vertical-middle;
	a {
		@include span-columns(6);
		border: 1px solid #1C498E;
		background: url("../img/icons/social.png") no-repeat scroll center 12px #597DB5;
		text-indent: -9999em;
		height: 45px;
		&.facebook {}
		&.twitter {
			@include span-columns(6 omega);
			background-color: #33CCFF;
			border-color: #00A2D7;
		}
	}
}

// #Logout -------------------------------------------------------------------
.logout {
}


form {
	@include pie-clearfix;
}

// #Footer -------------------------------------------------------------------
footer {
	@include background-image(linear-gradient($turquoise, $green-sea));
	border-top: 1px solid $emerald;
	height:12%;
	display: block;
	position: relative;

	sexnav {
		@include pie-clearfix;
		width: 100%;
		display: block;
		@include vertical-middle;
		img {
			display: block;
		}
		div {
			width: 15%;
			float: left;
			padding-right: 4px;
			cursor: pointer;
			& + div {
				width: 25%;
			}
			& + div + div {
				width: 21%;
			}
			& + div + div + div {
				width: 24%;
			}
			& + div + div + div + div {
				width: 14.6%;
			}
		}
	}
}

body[data=loggedin] logo {
	display: inline;
	left: 0px;
	margin: 0;
	position: relative;
	top: 11px;
}