/* #Compass imports ------------------------------------------------------------------------ */
@import "susy";
@import "compass/reset";
@import "compass/css3";

/* #Config ------------------------------------------------------------------------ */
// Setting up the Magic Grid
$total-columns: 12;
// 12 columns
$column-width: 4em;
// columns are 4em wide
$gutter-width: 1em;
// with 1em gutters
$grid-padding: 1em;
// and 1em padding on the grid container

//Make everything 100%?
$container-width: 100%;

//Make all elements use the border-box zising model to stop padding effecting shit
@include border-box-sizing;

//Add classes here to turn off footer
$footerHide : ".profile";

//Button definers
$hideMenuShowBack : ".where, .who, .whoadd";
$showPlus : ".who";

/* #Imports dependencies ------------------------------------------------------------------------ */
@import "fontello",
"_mixins",
"_variables",
"_typography",
"modules/_input",
"modules/_buttons",
"modules/_overlay",
"modules/_touchcarousel",
"modules/_blocks",
"modules/_date",
"pages/_who",
"pages/_privacy",
"pages/_profile",
"pages/_home",
"pages/_sex",
"pages/_loginsignup",
"_print";

/*
==================================================
Table of Contents
==================================================
	#Main Styles
	#body
	#debug
	#Menu
	#Header
		#Logo
	#shell
		#Content
			#page
	#footer
		#Message Box
*/
* {background-size: 100%;background-repeat: no-repeat; &::selection {background: transparent;} -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-tap-highlight-color: transparent; }

/* #Main Styles ------------------------------------------------------------------------ */
body {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
//	border: 3px solid black;
	text-align: center;
	background-color: $bgColor;
//	@include transition-duration(1.5s);
}

//Hack to stop landscape
body[orient="landscape"] {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

debug {
	position: fixed;
	top: 0;
	z-index: 4;
	right: 0;
	li {
		background: none repeat scroll 0 0 #53838E;
		padding: 3px;
		@include clearfix();
		width: 100%;
		border-bottom: 1px solid #DDD;
		font-size: 10px;
		line-height: 10px;
	}
}

// #Header -------------------------------------------------------------------
header {
	padding: 8px 0;
	@include clearfix();
	> * {
		height: 100%;
	}
	// #Logo -------------------------------------------------------------------
	logo {
		color: $main-grey;
		font-family: $sdFont;
		display: block;
		font-size: 3em;
		line-height: 1em;
		a {
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #FFF;
			color: $logoGrey !important;
			.loggedin & {
			}
			span {
				color: #FFF;
				-webkit-text-stroke-color: $logoGrey;
			}
		}
	}
	&.loggedin {
		@include background-image(linear-gradient($turquoise, $green-sea));
		border-bottom: 1px solid $emerald;
	}
	menuBtn, back {
		@include span-columns(2, 12);
		cursor: pointer;
		text-align: center;
	}
	.title {
		@include span-columns(8, 12);
		font-family: $sdFont;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.48);
		text-align: center;
		@include ellipsis;
	}
	add {
		@include span-columns(2 omega, 12);
	}
	back, add {
		display: none;
		cursor: pointer;
	}
}

// #Turn off/on buttons - Add Classes in the config to turn off/on buttons -------------------------------------------------------------------
#{$hideMenuShowBack} {
	//turn on back
	back {
		display: inline-block;
	}
	//turn off menubtn
	menubtn {
		display: none;
	}
}

#{$showPlus} {
	//turn on Add
	add {
		display: inline-block;
	}
}

// #Menu -------------------------------------------------------------------
menu {
	position: fixed;
	left: -85%;
	width: 85%;
	height: 100%;
	z-index: 2;
	overflow-x: hidden;
	@include transition-duration(.2s);
	@include ellipsis();
	background-color: $lightgreen; // Old browsers
	@include filter-gradient($turquoise, $turquoise, horizontal); // IE6-9
	@include background-image(linear-gradient(darken($turquoise, 20%) 0%,darken($turquoise, 25%) 100%));

	.menuOpen & {
		left: 0%;
	}

	i {
		display: inline-block;
		padding: 2px 6px;
	}

	> a {
		color: #FFF;
		display: block;
		font-size: 1.3em;
		line-height: 1.5em;
		text-align: left;
//		font-weight: normal;
//		font-family: $sdFont;
		&.selected {
			background: $bgColor;
			color: $textColorAlt;
		}

		&.headertitle {
			font-size: 1.8em;
			line-height: 1.5em;
			text-align: center;
			background-color: $primary3;
		}

		img {
			width: 10%;
			margin: 0 5%;
			vertical-align: middle;
		}
		&:hover {
			color: #FFF;
		}
	}
}

// #Shell -------------------------------------------------------------------
	shell {
		left: 0;
		position: relative;
		@include transition-duration(.2s);
		.menuOpen & {
			left: 85%;
		}
	}
	// #content -------------------------------------------------------------------
	content {
		@include container;
		padding: 0;
		width: 100%;
		height: 100%;
//		overflow-x: hidden;
		// #page -------------------------------------------------------------------
		page {
			display: block;
			width: 100%;
			height: 81.3%;
			position: relative;
			top: 0;
			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling:touch;
			@include pie-clearfix;
		}
	}

// #btns -------------------------------------------------------------------
a.signup {
	background: $sex;
}

// #social -------------------------------------------------------------------
.social {
	margin: 0 auto;
	width: $globalWidths;
	@include vertical-middle;
	a {
		@include span-columns(6);
		border: 1px solid #1C498E;
		background: url("../img/icons/social.png") no-repeat scroll center 12px #597DB5;
		text-indent: -9999em;
		height: 45px;
		&.facebook {}
		&.twitter {
			@include span-columns(6 omega);
			background-color: #33CCFF;
			border-color: #00A2D7;
		}
	}
}

// #Footer -------------------------------------------------------------------
footer, messagebox {
	@include background-image(linear-gradient($turquoise, $green-sea));
	border-top: 1px solid $emerald;
	height:12%;
//	min-height: 70px;
	display: block;
	position: relative;

	> * {
		display: none; //default, sexnav is turned off
	}
}

#{$footerHide} footer {
	display: none;
}

// #Message Box -------------------------------------------------------------------
messagebox {
	position: fixed;
	display: block;
	bottom: -12%;
	width: 100%;
	border-top: 1px solid #000;
	@include background-image(linear-gradient(lighten($emerald, 10%), darken($emerald, 10%)));
	@include transition-duration(.5 s);
	&.good.show {
		@include background-image(linear-gradient($forth3 , lighten($forth4, 10%)));
		color: #FFF;
	}
	&.bad.show {
		@include background-image(linear-gradient($danger, darken($danger, 10%)));
		color: #FFF;
	}
	&.notice.show {
		@include background-image(linear-gradient($notice, darken($notice, 10%)));
		color: #FFF;
	}

	&.show {
		bottom: 0;
	}

	message {
		width: 100%;
		position: relative;
		display: block;
		height: 100%;
		div {
			width: 100%;
			padding: 0 25px 0 10px;
			@include vertical-middle;
		}
	}
	close {
		position: absolute;
		top: 5px;
		right: 5px;
		font-weight: bold;
	}
}