/* #Compass imports ------------------------------------------------------------------------ */
@import "susy";
@import "compass/reset";
@import "compass/css3";
/* #Imports dependencies ------------------------------------------------------------------------ */
@import
"_mixins",
//"_origi",
"_variables",
"_typography",
"modules/_input",
"modules/_buttons",
"modules/_overlay",
"modules/_touchcarousel",
"_ie",
"_print",
"_home",
"_sex",
"_loginsignup";

/* #Config ------------------------------------------------------------------------ */
// Setting up the Magic Grid
$total-columns: 12;
// 12 columns
$column-width: 4em;
// columns are 4em wide
$gutter-width: 1em;
// with 1em gutters
$grid-padding: 1em;
// and 1em padding on the grid container

$container-width: 100%;

@include border-box-sizing;
/*
==================================================
Table of Contents
==================================================
    #Main Styles
      #logo
      #page
      #footer
*/
* {background-size: 100%;background-repeat: no-repeat;}

/* #Main Styles ------------------------------------------------------------------------ */
body {
	height: 100%;
	max-width: 480px;
	min-width: 320px;
//	height: 800px;
	margin: 0 auto;
	position: relative;
	border: 3px solid black;
	text-align: center;
}
body {
	background-color: #9acdcb;
//	@include  vertical-middle;
//	$experimental-support-for-svg: true;
//	@include background-image(radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%));
	@include transition-duration(1.5s);
}

debug li {
	background: none repeat scroll 0 0 #53838E;
	padding: 5px;
	@include clearfix();
	width: 100%;
	border-bottom: 1px solid #DDD;
}

// #Header -------------------------------------------------------------------
header {
	&.loggedin {
		@include background-image(linear-gradient($turquoise, $green-sea));
		border-bottom: 1px solid $emerald;
		padding-top: 8px;
		padding-bottom: 5px;
		@include clearfix;
	}
	menuBtn {
		@include span-columns(1, 12);
		background: url(/img/icons/sm_menu.png) no-repeat;
		display: block;
		height: 24px;
		text-indent: -9999em;
		margin-left: 8px;
		margin-top: 10px;
		cursor: pointer;
	}
	.title {
		@include span-columns(10, 12);
		font-family: $sdFont;
//		font-size: 1em;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.48);
		display: inline-block;
		text-overflow: ellipsis;
		margin-right: 0;
		white-space: nowrap;
		overflow: hidden;
	}
	.logout {
		@include span-columns(1 omega, 12);
		color: #fff;
	}
}
// #content -------------------------------------------------------------------
content {
//	@include vertical-middle ();
	@include container;
	padding: 0;
	width: 100%;
}

// #Logo -------------------------------------------------------------------
header logo {
	padding: 0;
	font-size: 2.3em;
	color: $main-grey;
	text-align: center;
	margin: 13px 0 50px;
	line-height: 0.85em;
	font-family: $sdFont;
	display: block;
	a {
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #FFF;
		color: $logoGrey !important;
		.loggedin & {
		}
		span {
			color: #FFF;
			-webkit-text-stroke-color: $logoGrey;
		}
	}
}

// #btns -------------------------------------------------------------------
a.signup {
	background: $sex;
}

// #social -------------------------------------------------------------------
.social {
	margin: 0 auto;
	width: $globalWidths;
	a {
		@include span-columns(6);
		border: 1px solid #1C498E;
		background: url("/img/icons/social.png") no-repeat scroll center 12px #597DB5;
		text-indent: -9999em;
		margin-top: 20px;
		padding-bottom: 15px;
		&.facebook {}
		&.twitter {
			@include span-columns(6 omega);
			background-color: #33CCFF;
			border-color: #00A2D7;
		}
	}
}

// #Logout -------------------------------------------------------------------
.logout {
//	position: absolute;
//	top: 10px;
//	right: 10px;
}

// #Page -------------------------------------------------------------------
page {
	display: block;
	@include clearfix;
}

form {
	@include clearfix;
}

// #Footer -------------------------------------------------------------------
footer {
	@include background-image(linear-gradient($turquoise, $green-sea));
	border-top: 1px solid $emerald;
	height: 85px;
	width: 100%;
	z-index: -1;
}

body[data=loggedin] logo {
	display: inline;
	left: 0px;
	margin: 0;
	position: relative;
	top: 11px;
}

.social a.twitter {
	background-position: center -22px;

}