<div class="royalSlider rsDefault">
	<div class="graphs">
		<div class="nostats">
			<h1>Opps a Daisy!</h1>
		    <p>Seems like you've been a Goody Two-Shoes and not done anything remotely naughty yet.</p>
			<a href="#home">Sex Something...</a>
		</div>
		<div class="stats">
			<h2>Sexy Things In Graph Form</h2>
			<div id="sexoverview"></div>
		</div>
	</div>
</div>