<h1>SELECT SOME SEXYNESS</h1>
<acts class="touchcarousel">
	<ul class="touchcarousel-container">
		<li class="touchcarousel-item">
			<a id="wank" data-type="1" href="#wank"></a>
		</li>
		<li class="touchcarousel-item">
			<a id="fingers" data-type="2" href="#fingers"></a>
		</li>
		<li class="touchcarousel-item">
			<a id="oral" data-type="3" href="#oral"></a>
		</li>
		<li class="touchcarousel-item">
			<a id="sex" data-type="4" href="#sex"></a>
		</li>
		<li class="touchcarousel-item">
			<a id="anything" data-type="5" href="#anything"></a>
		</li>
	</ul>
</acts>