<acts>
	<a id="wank" data-type="1" href="#wank"></a>
	<a id="fingers" data-type="2" href="#fingers"></a>
	<a id="oral" data-type="3" href="#oral"></a>
	<a id="sex" data-type="4" href="#sex"></a>
	<a id="anything" data-type="5" href="#anything"></a>
</acts>