// #Base of Sex Acts -------------------------------------------------------------------
.acts {
	display: block;
	//@include clearfix;
}

anchor {
	color: #FFF;
	cursor: pointer;
	font-family: $sdFont;
	display: block;
	@include text-shadow(0px 0px 1px rgba(0, 0, 0, 0.56));
	span {
		clear: both;
		display: block;
		height: 20px;
		font-size: .6em;
	}
}

acts a {
	background: url("../../img/sex/sexes.png") no-repeat;
	display: block;
	height: 215px;
	width: 200px;
	@include transition-duration(.2s);
	background-size: 1400px;
	margin: 10px;
	filter: $grayscale; /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
	&.alternative {
		background-image: url(../img/sex/girlTouchingHerself.jpg);
	}
}

acts a:hover, acts a.active {
	filter: none;
	-webkit-filter: grayscale(0);
}

acts a#hands {
	background-position: -210px 0;
	width: 360px;
	&.alternative {
		background-image: url(../../img/sex/sexes.png);
	}
}

acts a#oral {
	background-position: -589px 0;
	width: 267px;
	&.alternative {
		background-image: url(../img/sex/oralPleasures.jpg);
	}
}

acts a#sex {
	background-position: -866px 0;
	width: 352px;
	&.alternative {
		background-image: url(../img/sex/cowboy.jpg);
	}
}

acts a#anything {
	background-position: -1223px 0;
	width: 179px;
	&.alternative {
		background-image: url(../img/sex/donkey.jpg);
	}
}