.privacy {
	img {
		width: auto;
	}
	li {
		padding: .7em 1em .7em .5em;
		border-bottom: 1px solid #abb7d0;
		line-height: 1.3em;
		background-image: url(../img/privacy/arrow_blue.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: auto;
		cursor: pointer;
	}
	div.text {
		padding: 1em;
		line-height: 1.4em;
		color: #444;
	}
	.detail div {
		text-align: left;
	}
	img.icon {
		float: left;
		margin-right: .75em;
		width: 32px;
		height: 32px;
	}
	li.sel {
		 background-color: #eee;
	 }
	li.back {
		padding: .7em .5em .7em 1em;
		background-image: url(../img/privacy/arrow_back_blue.png);
		background-position: left center;
	}
}