.who, .where {
	saveBox {
		display: block;
		> * {
			height: 100%;
		}
	}
}

.whoadd {
	saveWho {
		display: block;
		> * {
			height: 100%;
		}
	}
}

.searchbox {

	> input {
		margin: 0;
		border: 0;
	}

	addContact, date {
		background: darken($turquoise, .1%);
		display: block;
		border-bottom: 1px solid darken($mainGreen, 5%);
	}

	result.selected {
		background: darken($turquoise, .1%);
	}
}