<ul>
	<li class="clear" onclick="detail_view('Data');" id="selector_Data">
		<img src="img/privacy/data.png" class="icon">We only collect anonymous information.
	</li>
	<li class="clear" onclick="detail_view('Location');" id="selector_Location">
		<img src="img/privacy/location.png" class="icon">We may collect but do not share your location history.
	</li>
	<li class="clear" onclick="detail_view('Access');" id="selector_Access">
		<img src="img/privacy/access.png" class="icon">You can request to see your personal data.
	</li>
	<li class="clear" onclick="detail_view('Deletion');" id="selector_Deletion">
		<img src="img/privacy/deletion.png" class="icon">We keep personal data until you delete it.
	</li>
	<li class="clear" onclick="detail_view('Sharing');" id="selector_Sharing">
		<img src="img/privacy/sharing.png" class="icon">We don't share your personal data with other companies.
	</li>
	<li class="clear" onclick="detail_view('Ad_Tracking');" id="selector_Ad_Tracking">
		<img src="img/privacy/adtracking.png" class="icon">No ad companies collect data through our service.
	</li>
	<li class="clear" onclick="detail_view('Contact');" id="selector_Contact">
		<img src="img/privacy/contact.png" class="icon">You can ask privacy questions.
	</li>
	<li class="clear" onclick="detail_view('Vendors');" id="selector_Vendors">
		<img src="img/privacy/analytics.png" class="icon">Service providers access data on our behalf.
	</li>
	<li class="clear" onclick="detail_view('Security');" id="selector_Security">
		<img src="img/privacy/vendors.png" class="icon">We take detailed steps to protect personal information.
	</li>
	<li class="clear" onclick="detail_view('Special');" id="selector_Special">
		<img src="img/privacy/special.png" class="icon">Special situations may require disclosure of your data.
	</li>
	<li class="clear" onclick="detail_view('More');" id="selector_More">
		<img src="img/privacy/more.png" class="icon">You can review more privacy-related information.
	</li>
</ul>
<div id="detail" style="display: none;">
	<div id="detail_Data" style="display: none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()"><img src="img/privacy/data.png" class="icon">We only collect anonymous information.</li>
		</ul>
		<div class="text">Our systems log information like your browser, operating system and IP address.&nbsp;  We do not collect personally identifiable information about you. In other words, we do not collect information
			such
			as your name, address, phone number or email address. Other than the details that were used upon
			registration
			and or the 'whos' that you may add.  We do not knowingly contact or collect personal information
			from
			children under 16. If you believe we have inadvertently collected such information, please contact us so we
			can
			promptly obtain parental consent or remove the information.
		</div>
	</div>
	<div id="detail_Location" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/location.png" class="icon">
				We may collect but do not share your location history.
			</li>
		</ul>
		<div class="text">To customize our service for you, we may collect and store your precise geographic location as
			part of your user profile. This data is never shared with others. We may ask for your consent on your first
			use
			of the service.
		</div>
	</div>
	<div id="detail_Access" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/access.png" class="icon">
				You can request to see your personal data.
			</li>
		</ul>
		<div class="text">
			You can sign into your account to see any personally identifiable information we have stored, such
			as your name, email, address or phone number. You can also contact us by email to request to see this
			information.
		</div>
	</div>
	<div id="detail_Deletion" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/deletion.png" class="icon">
				We keep personal data until you delete it.
			</li>
		</ul>
		<div class="text">We remove personally identifiable information (such as your name, address, email or phone number) and other preferences associated with your account promptly after you delete your account. We may retain other data indefinitely.</div>
	</div>
	<div id="detail_Sharing" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/sharing.png" class="icon">
				We don't share your personal data with other companies.
			</li>
		</ul>
		<div class="text">We do not share personally identifiable information (such as name, address, email or phone) with other companies.</div>
	</div>
	<div id="detail_Ad_Tracking" style="display: none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul><li class="clear back sel" onclick="history.back()"><img src="img/privacy/adtracking.png" class="icon">No ad companies collect data through our service.</li></ul>
		<div class="text">We do not allow advertising companies to collect data through our service for ad targeting.</div>
	</div>
	<div id="detail_Contact" style="display: none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/contact.png" class="icon">
				You can ask privacy questions.

			</li>
		</ul>
		<div class="tet">If you have any questions or concerns about our privacy policies, please contact us: <a href="mailto:privacy@sexdiaries.co.uk">privacy@sexdiaries.co.uk</a></div>
	</div>
	<div id="detail_Vendors" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/analytics.png" class="icon">
				Service providers access data on our behalf.

			</li>
		</ul>
		<div class="text">In order to serve you, we may share your personal and anonymous information with other
			companies,
			including vendors and contractors. Their use of information is limited to these purposes, and subject to
			agreements that require them to keep the information confidential. Our vendors provide assurance that they
			take
			reasonable steps to safeguard the data they hold on our behalf, although data security cannot be guaranteed.
			 Analytics companies may access anonymous data (such as your IP address or device ID) to help us
			understand
			how our services are used. They use this data solely on our behalf. They do not share it except in aggregate
			form; no data is shared as to any individual user. Click to see company privacy policies that govern their
			use
			of data.
		</div>
		<div>
			<ul>
				<li onclick="tracker_view('90');"><a href="javascript:tracker_view('90');">Google Analytics</a></li>
			</ul>
		</div>
	</div>
	<div id="detail_Security" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/vendors.png" class="icon">
				We take detailed steps to protect personal information.

			</li>
		</ul>
		<div class="text">We take reasonable administrative, physical and electronic measures designed to safeguard and
			protect your information from unauthorized access or disclosure. This includes utilizing Secure Sockets
			Layer
			(SSL) software, which encrypts the personal information you input, and storing your information in encrypted
			form behind a firewall designed to block access from outside our network. However, no security or encryption
			method can be guaranteed to protect information from hackers or human error.  Information we collect
			may
			be stored or processed on computers located in any country where we do business.
		</div>
	</div>
	<div id="detail_Special" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/special.png" class="icon">
				Special situations may require disclosure of your data.

			</li>
		</ul>
		<div class="text"></div>
	</div>
	<div id="detail_More" style="display:none;" class="detail">
		<h1 onclick="history.back()">Privacy</h1>
		<ul>
			<li class="clear back sel" onclick="history.back()">
				<img src="img/privacy/more.png" class="icon">
				You can review more privacy-related information.

			</li>
		</ul>
		<div class="text">This privacy policy was last updated on [DATE]. Our privacy policy may change from time to
			time.
			If we make any material changes to our policies, we will place a prominent notice on our website or
			application.
			If the change materially affects registered users, we will send a notice to you by email, push notification
			or
			text.
		</div>
	</div>
	<div id="detail_90" style="display: none;" class="tracker">
		<h1 onclick="history.back()">More Info</h1>    <a href="mobile?policy=36367&amp;mockup=1" style="text-decoration: none;">
		<ul>
			<li class="clear back sel" style="padding-left:20px; text-decoration: none; color:#7A8EB6;">
				Back

			</li>
		</ul>
	</a>

		<div class="text"><img src="http://images.privacychoice.org/images/network/90.jpg" class="logo tracker">

			<p>"Google Analytics is a web analytics tool that helps website owners understand how visitors engage with
				their
				website. Google Analytics customers can view a variety of reports about how visitors interact with their
				website so they can improve it. Google Analytics collects information anonymously. It reports website
				trends
				without identifying individual visitors."</p></div>
		<ul>
			<li onclick="document.location.href='http://www.google.com/analytics/learn/privacy.html';"><a
					href="http://www.google.com/analytics/learn/privacy.html">Full Privacy Policy</a></li>
		</ul>
	</div>
</div>