<!--<h1>SELECT SOME SEXYNESS</h1>-->
<!--<acts class="royalSlider rsDefault visibleNearby">-->
	<!--<a id="wank" data-type="1" href="#wank" data-rsw="336" data-rsh="500"><figure class="rsCaption">Wank</figure></a>-->
	<!--<a id="hands" data-type="2" href="#hands" data-rsw="336" data-rsh="500"><figure class="rsCaption">Hands</figure></a>-->
	<!--<a id="oral" data-type="3" href="#oral" data-rsw="336" data-rsh="500"><figure class="rsCaption">Oral</figure></a>-->
	<!--<a id="sex" data-type="4" href="#sex" data-rsw="352"><figure class="rsCaption">Sexy Sex</figure></a>-->
	<!--<a id="anything" data-type="5" href="#anything" data-rsw="179"><figure class="rsCaption">Anything Else!</figure></a>-->
<!--</acts>-->
<!--<div class="royalSlider rsDefault visibleNearby">
	<a class="rsImg" href="img/sex/wank.png" data-rsw="200"><anchor id="wank" data-type="1" href="#wank">Wank<span>For pleasuring man</span></anchor></a>
	<a class="rsImg" href="img/sex/hands.png" data-rsw="360"><anchor id="hands" data-type="2" href="#hands">Hands<span>Because 2 hands aren't enough</span></anchor></a>
	<a class="rsImg" href="img/sex/oral.png" data-rsw="267"><anchor id="Oral" data-type="3" href="#oral">Oral Pleasures<span>2 Tounges are better than one</span></anchor></a>
	<a class="rsImg" href="img/sex/sex.png" data-rsw="352"><anchor id="sex" data-type="4" href="#sex">Sexy Sex<span>Fucking!</span></anchor></a>
	<a class="rsImg" href="img/sex/anything.png" data-rsw="179"><anchor id="anything" data-type="5" href="#anything">Anything Else<span>When sex just isn't enough...</span></anchor></a>
</div>-->

<div class="royalSlider rsDefault">
	<!--<img class="rsImg" src="img/sex/full/wank.png" data-rsTmb="img/sex/thumb/wank.png" alt="image description" />-->
	<!--<img class="rsImg" src="img/sex/full/hands.png" data-rsTmb="img/sex/thumb/hands.png" alt="image description" />-->
	<!--<img class="rsImg" src="img/sex/full/oral.png" data-rsTmb="img/sex/thumb/oral.png" alt="image description" />-->
	<!--<img class="rsImg" src="img/sex/full/sex.png" data-rsTmb="img/sex/thumb/sex.png" alt="image description" />-->
	<!--<img class="rsImg" src="img/sex/full/anything.png" data-rsTmb="img/sex/thumb/anything.png" alt="image description" />-->

	<a class="rsImg" href="img/sex/full/wank.png" data-rsTmb="img/sex/thumb/wank.png" data-rsw="200"><anchor id="wank" data-type="1" href="#wank">Wank<span>For pleasuring man</span></anchor></a>
	<a class="rsImg" href="img/sex/full/hands.png" data-rsTmb="img/sex/thumb/hands.png" data-rsw="360"><anchor id="hands" data-type="2" href="#hands">Hands<span>Because 2 hands aren't enough</span></anchor></a>
	<a class="rsImg" href="img/sex/full/oral.png" data-rsTmb="img/sex/thumb/oral.png" data-rsw="267"><anchor id="Oral" data-type="3" href="#oral">Oral Pleasures<span>2 Tounges are better than one</span></anchor></a>
	<a class="rsImg" href="img/sex/full/sex.png" data-rsTmb="img/sex/thumb/sex.png" data-rsw="352"><anchor id="sex" data-type="4" href="#sex">Sexy Sex<span>Fucking!</span></anchor></a>
	<a class="rsImg" href="img/sex/full/anything.png" data-rsTmb="img/sex/thumb/anything.png" data-rsw="179"><anchor id="anything" data-type="5" href="#anything">Anything Else<span>When sex just isn't enough...</span></anchor></a>
</div>