/*
==================================================
Table of Contents
==================================================
	#Compass imports
    #Imports dependencies
    #Main Styles
      #logo
*/

/* #Compass imports ------------------------------------------------------------------------ */
@import "susy";
@import "compass/reset";
@import "compass/css3";



/* #Imports dependencies ------------------------------------------------------------------------ */
@import
"_mixins",
"_origi",
"_variables",
"_typography",
"modules/_input",
"modules/_buttons",
"_ie",
"_print";


/* #Config ------------------------------------------------------------------------ */
@include border-box-sizing;

/* #Main Styles ------------------------------------------------------------------------ */
body {
  background-color: #9acdcb;
  @include filter-gradient(#9acdcb, #9acdcb, horizontal);
  $experimental-support-for-svg: true;
  @include background-image(radial-gradient(center, ellipse cover,  #9acdcb 0%,#9acdcb 14%,#a6d3d1 30%,#abd5d4 44%,#a9d4d3 61%,#9acdcb 84%,#9acdcb 100%));
}

  // #Logo -------------------------------------------------------------------
  logo {
    padding: 0;
    font-size: 28px;
    color: $main-grey;
    text-align: center;
    text-transform: uppercase;
    margin: 13px 0;
    line-height: 0.85em;
    font-family: $sdFont;
    width: 100%;
    display: block;
    span {
      color: $linkColor;
    }
  }

  form {
    width: 100%;
    text-align: center;
    margin: 10px 0;

    input, button {
      width: 80%;
      padding: 7px;
    }
  }


.login {
  color: #FFF;
  top: 50%;
  width: 100%;
  text-align: center;
  a {
    font-weight: bold;
  }
}

// #Janrain -------------------------------------------------------------------
#openid_choice {
  margin: 0px 0 0;
  height: 25px;
  width: 200px;
  display: inline-block;
}
.providers {
  margin: 0 5px 0 0;
  float: left;
  width: 95px;
  li {
    background: transparent !important;
    padding: 0;
  }
  span:first-child {
    display: none !important;
  }
}

#janrain-facebook a, #janrain-twitter a {
  background: url("/img/icons/social-icons.png") no-repeat scroll 6px 2px #597DB5;
  @include border-radius(3px 3px 3px 3px);
  box-shadow: 0 -2px 0 0 #1C498E inset;
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  line-height: 21px;
  margin-top: -2px;
  overflow: hidden;
  padding-bottom: 2px;
  padding-left: 26px;
  text-align: center;
  vertical-align: middle;
}

span.janrain-provider-text-color-facebook, span.janrain-provider-text-color-twitter {
  color: #FFFFFF !important;
  font-weight: bold;
  font-family: tahoma;
  padding: -r;
  padding-right: 8px;
}

#janrain-twitter a {
  background-position: 2px -25px;
  background-color: #00ACED;
  box-shadow: 0 -2px 0 0 #0082b3 inset;
}