<h2>MOTHER FUCKING WANK!!!</h2>
<sexform class="wank">
	<form method="http://stage.sexdiaries.co.uk/stats/add" action="post">
		<items>
			<when>
				<img alt="" src="../img/sex/when.png">
				<span>When</span>
			</when>
			<who>
				<img alt="" src="../img/sex/who.png">
				<span>Who</span>
			</who>
			<rating>
				<img alt="" src="../img/sex/rating.png">
				<span>Rating</span>
			</rating>
		</items>
		<items>
			<location>
				<img alt="" src="../img/sex/location.png">
				<span>Location</span>
			</location>
			<where>
				<img alt="" src="../img/sex/where.png">
				<span>Where</span>
			</where>
			<extra>
				<img alt="" src="../img/sex/save.png">
				<span>Extra</span>
			</extra>
		</items>
		<input type="hidden" name="when">
	</form>
	<seximage>
		<img alt="wank" src="../img/sex/full/wank.png">
	</seximage>
</sexform>