
.blocks {
	height: 100%;
	// #First Level Elements -------------------------------------------------------------------


	> date { //Top date only
		height: 7.5%;
		background: darken($turquoise, .1%);
		text-align: left;
		font-size: 0.8em;
		min-height: inherit;
	}

	> * { //Targets all first level items eg date, when, who, rating etc
		height: 15%;
		min-height: 60px;
		max-height: 80px;
		display: block;
		border-bottom: 1px solid darken($mainGreen, 5%);
		padding-left: 10px;

		&:active {
			background: darken($turquoise, .1%);
		}

		> * { //Targeting all top level items inside date, when, who rating blah blah
			height: 100%;
			position: relative;

			div { //target first divs
				width: 100%;
				@include vertical-middle(50%,0%);
			}
		}

		// #Second Level Elements -------------------------------------------------------------------
		info {
			@include span-columns(9, 12);
			text-align: left;

			h2 {
				line-height: 1em;
				text-align: left;
				text-transform: capitalize;
			}
		}

		detailsimage {
			text-align: center;
			div {
				height: 81%;
			}
			img {
				height: 100%;
				width: auto;
			}
			@include span-columns(3 omega, 12);
		}
	}

	// #Individual Settings -------------------------------------------------------------------

	// #Extra -------------------------------------------------------------------
	extra {
		@include span-columns(12, 12);
		text-align: center;
		position: relative;
		cursor: pointer;
		h2 {
			height: auto;
			@include vertical-middle;
		}
	}
}

save {
	&.disabled detailsimage, &.disabled info  {
		opacity: .5;
	}
}