<div class="blocks">
	<user>
		<info>
			<div>
				<h2>Member Since:</h2>
				<date><%= data.regdate %></date>
			</div>
		</info>
		<detailsimage>
			<div>
				<i class="icon-<%= data.gender %>"></i>
			</div>
		</detailsimage>
	</user>
	<resetpin>
		<info>
			<div>
				<h2>Change Pin?</h2>
			</div>
		</info>
		<detailsimage>
			<div>
				<i class="icon-lock-open"></i>
			</div>
		</detailsimage>
	</resetpin>
	<delete>
		<info>
			<div>
				<h2>Delete Account?</h2>
			</div>
		</info>
		<detailsimage>
			<i class="icon-trash"></i>
		</detailsimage>
	</delete>
</div>