<div class="blocks">
	<user>
		<info>
			<div>
				<h2>Member Since:</h2>
				<date><%= data.regdate %></date>
			</div>
		</info>
		<detailsimage>
			<div>
				<img src="img/icons/<%= data.gender %>.png" alt="<%= data.gender %>"/>
			</div>
		</detailsimage>
	</user>
</div>