<div class="nostats">
	<h1>Woop-dee-doo Basil!</h1>
	<p>Thanks for signing up and hopefully confirming your email address: <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
	<p>We're not sure why we put a sarcasit title on this page. I was bored?</p>
	<p>If this email is incorrect or you don't get this email please send a quick mail to: <a href="mailto:sex@sexdiaries.co.uk">sex@sexdiaries.co.uk</a></p>
	<a href="#login" class="sdfont">Confirmed? Login Now...</a>
</div>