<div class="nostats">
	<h1>Woop-dee-doo Basil!</h1>
	<p class="junk">Remember check your junk mail</p>
	<p>Thanks for signing up and hopefully confirming your email address: <a href="mailto:<%= data.email %>"><%= data.email %></a></p>
	<p>We're not sure why we put a sarcastic title on this page. I was bored?</p>
	<a href="#login" class="sdfont">Confirmed? Login Now...</a>
</div>