<div>
	<form id="forgotten" name="forgotten" method="post" action="">
		<input name="email" type="email" id="email" size="50" placeholder="The email address please"/>
		<input name="Submit" type="submit" value="Recover Lost Details...?" />
	</form>
	<a href="#login">Already Signed Up?</a>
</div>