<div>
	<form id="forgotten" name="forgotten" method="post" action="">
		<input name="email" type="email" id="email" size="50" placeholder="The email address please"/>
		<button class="btn" type="submit">Reset Password</button>
	</form>
	<a href="#login">Already Signed Up?</a>
</div>