<div>
	<form action="/" class="loginForm">
		<div class="control-group">
			<i class="icon-user">
				<input type="text" name="uname" placeholder="Username" autocapitalize="off"/>
			</i>
		</div>
		<div class="control-group">
			<i class="icon-lock">
				<input type="password" name="pword" placeholder="Password" autocapitalize="off"/>
			</i>
		</div>
		<button class="btn" type="submit">Login</button>
	</form>
	<div class="login">
		<a href="#signup">Sign Up</a>
		<br>
		<a href="#forgotten">Forgotten Details?</a>
	</div>
</div>