<div>
	<form action="/" class="loginForm">
		<div class="control-group">
			<input type="text" name="uname" placeholder="Email" value="testme"/>
		</div>
		<div class="control-group">
			<input type="password" name="pword" placeholder="Password" value="testmeout"/>
		</div>
		<button class="btn" type="submit">Login</button>
	</form>
	<div class="login">
		<a href="#signup">Sign Up</a>
		<br>
		<a href="#forgotten">Forgotten Details?</a>
	</div>
</div>