<form action="/" class="loginForm">
	<div class="control-group">
		<input type="text" name="uname" placeholder="Enter your desired username" value="test"/>
	</div>
	<div class="control-group">
		<input type="email" name="email" placeholder="Email"/>
	</div>
	<div class="control-group">
		<input type="password" name="pword" placeholder="Password" value="testmeout"/>
	</div>
	<div class="control-group">
		<input type="password" name="pwordc" placeholder="Password Confirm"/>
	</div>
	<div class="control-group">
		<input type="text" name="gender" placeholder="Gender M/F"/>
	</div>
	<div class="control-group">
		<input type="text" name="dob" placeholder="Date of Birth DD/MM/YYYY"/>
	</div>
	<div class="control-group">
		<label>
			<input type="checkbox" name="terms" class="terms"/>
			Agree to our Terms &amp; Condish!
		</label>
	</div>
	<button class="btn signup" type="submit">Sign Up</button>
	<a href="/#login">Already Signed Up?</a>
</form>