<footer>
	<sexnav>
		<div><img src="img/sex/wank.png"></div>
		<div><img src="img/sex/hands.png"></div>
		<div><img src="img/sex/oral.png"></div>
		<div><img src="img/sex/sex.png"></div>
		<div><img src="img/sex/anything.png"></div>
	</sexnav>
</footer>