<footer>
	<sexnav>
		<div data-type="wank"><img src="img/sex/wank.png"></div>
		<div data-type="hands"><img src="img/sex/hands.png"></div>
		<div data-type="oral"><img src="img/sex/oral.png"></div>
		<div data-type="sex"><img src="img/sex/sex.png"></div>
		<div data-type="anything"><img src="img/sex/anything.png"></div>
	</sexnav>
</footer>