<header class="loggedin">
	<menuBtn class="icon-menu"></menuBtn>
	<back onclick="window.history.back();" class="icon-left-big"></back>
	<div class="title"></div>
	<add class="icon-user-add"></add>
</header>