<header class="loggedin">
<<<<<<< HEAD
	<menuBtn class="icon-menu"></menuBtn>
	<back onclick="window.history.back();" class="icon-left-big"></back>
	<div class="title"></div>
	<add class="icon-plus-circled"></add>
=======
	<back onclick="window.history.back();"><div class="btn">Back</div></back>
	<div class="title"></div>
	<menuBtn><div class="mbtn">=</div></menuBtn>
>>>>>>> 9c87eeb257b010a665d864b3cbcc248d3d815215
</header>