<menu id="menu">
	<h1 class="headertitle">sexdiaries.co.uk</h1>
	<!--<a href="#profile" data-id="profile" class="headertitle"><i class="icon-user"></i>Jamie Hutber</a>-->
	<a href="#home" data-id="home"><i class="icon-pencil"></i>Home</a>
	<a href="#overview" data-id="overview"><i class="icon-chart-alt-outline"></i>Stats Overview</a>
	<a href="#graphs" data-id="graphs"><i class="icon-chart-pie-outline"></i>Graphs</a>
	<a href="#userhistory" data-id="userhistory"><i class="icon-list-bullet"></i>Sex History</a>
	<!--<a href="#calendar" data-id="previous"><i class="icon-calendar-outlilne"></i>Sex Calendar</a>-->
	<a href="#managewhos" data-id="managewhos"><i class="icon-users"></i>Sexual Partners's</a>
	<!--<a href="#shop" data-id="shop"><i class="icon-basket"></i>Shop</a>-->
	<a href="#privacy" data-id="privacy"><i class="icon-lock"></i>Privacy Statement</a>
	<a href="#settings" data-id="settings"><i class="icon-wrench"></i>Settings</a>
	<!--<a href="#upgrade" data-id="pro"><i class="icon-money"></i>Go Pro?</a>-->
	<a href="#logout" onclick="SD.DV.doLogOut();"><i class="icon-logout"></i>Logout</a>
	<version>Beta 0.0.28 - Bug Reports <a href="mailto:bugs@sexdiaries.co.uk">bugs@sexdiaries.co.uk</a></version>
</menu>