<menu>
	<!--<a href="#home" class="headertitle" data-id="home">Sexdiaries.co.uk</a>-->
	<a href="#profile" data-id="profile" class="headertitle"><i class="icon-user"></i>Jamie Hutber</a>
	<a href="#home" data-id="home"><i class="icon-pencil"></i>New Sex?</a>
	<a href="#previous" data-id="previous"><i class="icon-calendar-empty"></i>Old Sexes?</a>
	<a href="#managewhos" data-id="managewhos"><i class="icon-users"></i>Manage Whos</a>
	<a href="#shop" data-id="shop"><i class="icon-basket"></i>Shop</a>
	<a href="#privacy" data-id="privacy"><i class="icon-lock"></i>Privacy Statement</a>
	<a href="#settings" data-id="settings"><i class="icon-wrench"></i>Settings</a>
	<a href="#upgrade" data-id="pro"><i class="icon-money"></i>Go Pro?</a>
	<a href="#logout" onclick="SD.DV.doLogOut();"><i class="icon-logout"></i>Logout</a>
</menu>