<form action="/" class="loginForm">
	<div class="control-group">
		<input type="text" name="uname" placeholder="Username" value="hutber"/>
	</div>
	<div class="control-group">
		<input type="password" name="pword" placeholder="Password" value="jadwiga82"/>
	</div>
	<button class="btn" type="submit">Login</button>
</form>
<div class="login">
	<a href="/registration">Sign Up</a>
	or
	<a href="/users">Login</a>
</div>