/*
==================================================
Table of Contents
==================================================
	#Compass imports
    #Imports dependencies
    #Main Styles
      #logo
*/
/* #Compass imports ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* #Imports dependencies ------------------------------------------------------------------------ */
/*
* Taken from the phonegap default
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\000034}}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\000038}}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  color: #000;
}

/* Portrait layout (default) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000328}}
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000343}}
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000351}}
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000360}}
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000369}}
.event.listening {
  background-color: #333333;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000374}}
.event.received {
  background-color: #4B946A;
  display: none;
}

@keyframes fade {
  /* line 80, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  from {
    opacity: 1.0;
  }

  /* line 81, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  50% {
    opacity: 0.4;
  }

  /* line 82, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  /* line 86, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  from {
    opacity: 1.0;
  }

  /* line 87, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  50% {
    opacity: 0.4;
  }

  /* line 88, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  to {
    opacity: 1.0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000391}}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

/* Table of Contents
==================================================
    #COLOURS
*/
/* Table of Contents
==================================================
		#Imported Fonts
    #Fonts
    #Typography
    #Blockquotes
    #Links
    #Lists
		#Images
		#Figures
		#Tables
		#File Types
		#RTL Overrides
*/
/* #Imported Fonts ------------------------------------------------------------------------ */
@font-face {
  font-family: "sdFont";
  src: url('../fonts/sdFont.ttf.woff') format('woff');
}

/* #Fonts ------------------------------------------------------------------------ */
/* #Page Typography ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000324}}
html {
  font-size: 62.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000325}}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Trebuchet, sans-serif;
  color: #333333;
  font-size: 1.6em !important;
  line-height: 1.538em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000328}}
a, a:visited {
  color: white;
  text-decoration: none;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000329}}
a:hover, a:focus {
  color: white;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000330}}
p a, p a:visited {
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000334}}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: sdFont, Arial, serif;
  font-weight: normal;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* #Main Styles ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000328}}
body {
  background-color: #9acdcb;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF9ACDCB', endColorstr='#FF9ACDCB');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWFjZGNiIi8+PHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiM5YWNkY2IiLz48c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2E2ZDNkMSIvPjxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjYWJkNWQ0Ii8+PHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNhOWQ0ZDMiLz48c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzlhY2RjYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhY2RjYiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #9acdcb), color-stop(14%, #9acdcb), color-stop(30%, #a6d3d1), color-stop(44%, #abd5d4), color-stop(61%, #a9d4d3), color-stop(84%, #9acdcb), color-stop(100%, #9acdcb));
  background-image: -webkit-radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
  background-image: radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000336}}
logo {
  padding: 0;
  font-size: 28px;
  color: #7f7f7f;
  text-align: center;
  text-transform: uppercase;
  margin: 13px 0 0;
  line-height: 0.85em;
  font-family: sdFont, Arial, serif;
  width: 100%;
  position: absolute;
  top: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000348}}
logo span {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000353}}
form {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000359}}
form input, form button {
  width: 80%;
  padding: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000366}}
.login {
  color: #FFF;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000372}}
.login a {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000378}}
#openid_choice {
  margin: 0px 0 0;
  height: 25px;
  width: 200px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000384}}
.providers {
  margin: 0;
  float: left;
  width: 95px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000388}}
.providers li {
  background: transparent !important;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000392}}
.providers span:first-child {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000397}}
#janrain-facebook a, #janrain-twitter a {
  background: url("/img/icons/social-icons.png") no-repeat scroll 6px 2px #597db5;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 -2px 0 0 #1C498E inset;
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  line-height: 21px;
  margin-top: -2px;
  overflow: hidden;
  padding-bottom: 2px;
  padding-left: 26px;
  text-align: center;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\00003115}}
span.janrain-provider-text-color-facebook, span.janrain-provider-text-color-twitter {
  color: #FFFFFF !important;
  font-weight: bold;
  font-family: tahoma;
  padding: -r;
  padding-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\00003123}}
#janrain-twitter a {
  background-position: 2px -25px;
  background-color: #00ACED;
  box-shadow: 0 -2px 0 0 #0082b3 inset;
  margin-left: 5px;
}
