/*
==================================================
Table of Contents
==================================================
	#Compass imports
    #Imports dependencies
    #Main Styles
      #logo
*/
/* #Compass imports ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* #Imports dependencies ------------------------------------------------------------------------ */
/*
* Taken from the phonegap default
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\000034}}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\000038}}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #E4E4E4;
  background-image: linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -webkit-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-image: -ms-linear-gradient(top, #a7a7a7 0%, #e4e4e4 51%);
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  color: #000;
}

/* Portrait layout (default) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000328}}
.app {
  background: url(../img/logo.png) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  height: 50px;
  /* text area height */
  width: 225px;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
  margin: -115px 0px 0px -112px;
  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000343}}
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000351}}
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000360}}
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000369}}
.event.listening {
  background-color: #333333;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000374}}
.event.received {
  background-color: #4B946A;
  display: none;
}

@keyframes fade {
  /* line 80, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  from {
    opacity: 1.0;
  }

  /* line 81, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  50% {
    opacity: 0.4;
  }

  /* line 82, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  /* line 86, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  from {
    opacity: 1.0;
  }

  /* line 87, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  50% {
    opacity: 0.4;
  }

  /* line 88, C:/var/www/sexdiaries.co.uk/sdapp/platforms/android/assets/www/docroot/sass/_origi.scss */
  to {
    opacity: 1.0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_origi\.scss}line{font-family:\0000391}}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

/* Table of Contents
==================================================
    #COLOURS
*/
/* Table of Contents
==================================================
		#Imported Fonts
    #Fonts
    #Typography
    #Blockquotes
    #Links
    #Lists
		#Images
		#Figures
		#Tables
		#File Types
		#RTL Overrides
*/
/* #Imported Fonts ------------------------------------------------------------------------ */
@font-face {
  font-family: "sdFont";
  src: url('../fonts/sdFont.ttf.woff') format('woff');
}

/* #Fonts ------------------------------------------------------------------------ */
/* #Page Typography ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000329}}
html {
  font-size: 62.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000330}}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Trebuchet, sans-serif;
  color: white;
  font-size: 1.6em !important;
  line-height: 1.538em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000333}}
a, a:visited {
  color: #6cb7b4;
  text-decoration: none;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000334}}
a:hover, a:focus {
  color: #0c1818;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000335}}
p a, p a:visited {
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_typography\.scss}line{font-family:\0000339}}
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: sdFont, Arial, serif;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000321}}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 4px solid #6cb7b4;
  color: #191919;
  padding: 12px 5px;
  text-indent: 6px;
  margin: 5px 0;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000312}}
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.uneditable-input:-moz-placeholder {
  color: #95a5a6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000315}}
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: #95a5a6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000318}}
textarea.placeholder,
input[type="text"].placeholder,
input[type="password"].placeholder,
input[type="datetime"].placeholder,
input[type="datetime-local"].placeholder,
input[type="date"].placeholder,
input[type="month"].placeholder,
input[type="time"].placeholder,
input[type="week"].placeholder,
input[type="number"].placeholder,
input[type="email"].placeholder,
input[type="url"].placeholder,
input[type="search"].placeholder,
input[type="tel"].placeholder,
input[type="color"].placeholder,
.uneditable-input.placeholder {
  color: #95a5a6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000336}}
.control-group.focus textarea, textarea:focus, .control-group.focus
input[type="text"],
input[type="text"]:focus, .control-group.focus
input[type="password"],
input[type="password"]:focus, .control-group.focus
input[type="datetime"],
input[type="datetime"]:focus, .control-group.focus
input[type="datetime-local"],
input[type="datetime-local"]:focus, .control-group.focus
input[type="date"],
input[type="date"]:focus, .control-group.focus
input[type="month"],
input[type="month"]:focus, .control-group.focus
input[type="time"],
input[type="time"]:focus, .control-group.focus
input[type="week"],
input[type="week"]:focus, .control-group.focus
input[type="number"],
input[type="number"]:focus, .control-group.focus
input[type="email"],
input[type="email"]:focus, .control-group.focus
input[type="url"],
input[type="url"]:focus, .control-group.focus
input[type="search"],
input[type="search"]:focus, .control-group.focus
input[type="tel"],
input[type="tel"]:focus, .control-group.focus
input[type="color"],
input[type="color"]:focus, .control-group.focus
.uneditable-input,
.uneditable-input:focus {
  border-color: #6cb7b4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000341}}
.row-fluid textarea, .row-fluid
input[type="text"], .row-fluid
input[type="password"], .row-fluid
input[type="datetime"], .row-fluid
input[type="datetime-local"], .row-fluid
input[type="date"], .row-fluid
input[type="month"], .row-fluid
input[type="time"], .row-fluid
input[type="week"], .row-fluid
input[type="number"], .row-fluid
input[type="email"], .row-fluid
input[type="url"], .row-fluid
input[type="search"], .row-fluid
input[type="tel"], .row-fluid
input[type="color"], .row-fluid
.uneditable-input {
  height: 41px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000347}}
textarea.flat,
input[type="text"].flat,
input[type="password"].flat,
input[type="datetime"].flat,
input[type="datetime-local"].flat,
input[type="date"].flat,
input[type="month"].flat,
input[type="time"].flat,
input[type="week"].flat,
input[type="number"].flat,
input[type="email"].flat,
input[type="url"].flat,
input[type="search"].flat,
input[type="tel"].flat,
input[type="color"].flat,
.uneditable-input.flat {
  border-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000349}}
textarea.flat:hover,
input[type="text"].flat:hover,
input[type="password"].flat:hover,
input[type="datetime"].flat:hover,
input[type="datetime-local"].flat:hover,
input[type="date"].flat:hover,
input[type="month"].flat:hover,
input[type="time"].flat:hover,
input[type="week"].flat:hover,
input[type="number"].flat:hover,
input[type="email"].flat:hover,
input[type="url"].flat:hover,
input[type="search"].flat:hover,
input[type="tel"].flat:hover,
input[type="color"].flat:hover,
.uneditable-input.flat:hover {
  border-color: #605f5b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000352}}
textarea.flat:focus,
input[type="text"].flat:focus,
input[type="password"].flat:focus,
input[type="datetime"].flat:focus,
input[type="datetime-local"].flat:focus,
input[type="date"].flat:focus,
input[type="month"].flat:focus,
input[type="time"].flat:focus,
input[type="week"].flat:focus,
input[type="number"].flat:focus,
input[type="email"].flat:focus,
input[type="url"].flat:focus,
input[type="search"].flat:focus,
input[type="tel"].flat:focus,
input[type="color"].flat:focus,
.uneditable-input.flat:focus {
  border-color: #6cb7b4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000359}}
.control-group.error textarea, .control-group.error
input[type="text"], .control-group.error
input[type="password"], .control-group.error
input[type="datetime"], .control-group.error
input[type="datetime-local"], .control-group.error
input[type="date"], .control-group.error
input[type="month"], .control-group.error
input[type="time"], .control-group.error
input[type="week"], .control-group.error
input[type="number"], .control-group.error
input[type="email"], .control-group.error
input[type="url"], .control-group.error
input[type="search"], .control-group.error
input[type="tel"], .control-group.error
input[type="color"], .control-group.error
.uneditable-input {
  border-color: #e74c3c;
  color: #e74c3c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\000036}}
.control-group.error textarea:focus, .control-group.error
input[type="text"]:focus, .control-group.error
input[type="password"]:focus, .control-group.error
input[type="datetime"]:focus, .control-group.error
input[type="datetime-local"]:focus, .control-group.error
input[type="date"]:focus, .control-group.error
input[type="month"]:focus, .control-group.error
input[type="time"]:focus, .control-group.error
input[type="week"]:focus, .control-group.error
input[type="number"]:focus, .control-group.error
input[type="email"]:focus, .control-group.error
input[type="url"]:focus, .control-group.error
input[type="search"]:focus, .control-group.error
input[type="tel"]:focus, .control-group.error
input[type="color"]:focus, .control-group.error
.uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000360}}
.control-group.success textarea, .control-group.success
input[type="text"], .control-group.success
input[type="password"], .control-group.success
input[type="datetime"], .control-group.success
input[type="datetime-local"], .control-group.success
input[type="date"], .control-group.success
input[type="month"], .control-group.success
input[type="time"], .control-group.success
input[type="week"], .control-group.success
input[type="number"], .control-group.success
input[type="email"], .control-group.success
input[type="url"], .control-group.success
input[type="search"], .control-group.success
input[type="tel"], .control-group.success
input[type="color"], .control-group.success
.uneditable-input {
  border-color: #2ecc71;
  color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\000036}}
.control-group.success textarea:focus, .control-group.success
input[type="text"]:focus, .control-group.success
input[type="password"]:focus, .control-group.success
input[type="datetime"]:focus, .control-group.success
input[type="datetime-local"]:focus, .control-group.success
input[type="date"]:focus, .control-group.success
input[type="month"]:focus, .control-group.success
input[type="time"]:focus, .control-group.success
input[type="week"]:focus, .control-group.success
input[type="number"]:focus, .control-group.success
input[type="email"]:focus, .control-group.success
input[type="url"]:focus, .control-group.success
input[type="search"]:focus, .control-group.success
input[type="tel"]:focus, .control-group.success
input[type="color"]:focus, .control-group.success
.uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000361}}
.control-group.warning textarea, .control-group.warning
input[type="text"], .control-group.warning
input[type="password"], .control-group.warning
input[type="datetime"], .control-group.warning
input[type="datetime-local"], .control-group.warning
input[type="date"], .control-group.warning
input[type="month"], .control-group.warning
input[type="time"], .control-group.warning
input[type="week"], .control-group.warning
input[type="number"], .control-group.warning
input[type="email"], .control-group.warning
input[type="url"], .control-group.warning
input[type="search"], .control-group.warning
input[type="tel"], .control-group.warning
input[type="color"], .control-group.warning
.uneditable-input {
  border-color: #f1c40f;
  color: #f1c40f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\000036}}
.control-group.warning textarea:focus, .control-group.warning
input[type="text"]:focus, .control-group.warning
input[type="password"]:focus, .control-group.warning
input[type="datetime"]:focus, .control-group.warning
input[type="datetime-local"]:focus, .control-group.warning
input[type="date"]:focus, .control-group.warning
input[type="month"]:focus, .control-group.warning
input[type="time"]:focus, .control-group.warning
input[type="week"]:focus, .control-group.warning
input[type="number"]:focus, .control-group.warning
input[type="email"]:focus, .control-group.warning
input[type="url"]:focus, .control-group.warning
input[type="search"]:focus, .control-group.warning
input[type="tel"]:focus, .control-group.warning
input[type="color"]:focus, .control-group.warning
.uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000362}}
.control-group.info textarea, .control-group.info
input[type="text"], .control-group.info
input[type="password"], .control-group.info
input[type="datetime"], .control-group.info
input[type="datetime-local"], .control-group.info
input[type="date"], .control-group.info
input[type="month"], .control-group.info
input[type="time"], .control-group.info
input[type="week"], .control-group.info
input[type="number"], .control-group.info
input[type="email"], .control-group.info
input[type="url"], .control-group.info
input[type="search"], .control-group.info
input[type="tel"], .control-group.info
input[type="color"], .control-group.info
.uneditable-input {
  border-color: #3498db;
  color: #3498db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\000036}}
.control-group.info textarea:focus, .control-group.info
input[type="text"]:focus, .control-group.info
input[type="password"]:focus, .control-group.info
input[type="datetime"]:focus, .control-group.info
input[type="datetime-local"]:focus, .control-group.info
input[type="date"]:focus, .control-group.info
input[type="month"]:focus, .control-group.info
input[type="time"]:focus, .control-group.info
input[type="week"]:focus, .control-group.info
input[type="number"]:focus, .control-group.info
input[type="email"]:focus, .control-group.info
input[type="url"]:focus, .control-group.info
input[type="search"]:focus, .control-group.info
input[type="tel"]:focus, .control-group.info
input[type="color"]:focus, .control-group.info
.uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000364}}
.control-group textarea, .control-group
input[type="text"], .control-group
input[type="password"], .control-group
input[type="datetime"], .control-group
input[type="datetime-local"], .control-group
input[type="date"], .control-group
input[type="month"], .control-group
input[type="time"], .control-group
input[type="week"], .control-group
input[type="number"], .control-group
input[type="email"], .control-group
input[type="url"], .control-group
input[type="search"], .control-group
input[type="tel"], .control-group
input[type="color"], .control-group
.uneditable-input {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000369}}
.control-group {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000372}}
.control-group > .input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 89.25%;
  /* 20px */
  color: white;
  background-color: #ffffff;
  padding: 0 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000385}}
.control-group input:focus + .input-icon {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000392}}
.control-group.huge > .input-icon {
  line-height: 49px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\0000399}}
.control-group.large > .input-icon {
  line-height: 41px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003106}}
.control-group.small > .input-icon {
  font-size: 71.375%;
  /* 16px */
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003116}}
.control-group.success > .input-icon, .control-group.success input + .input-icon {
  color: #2ecc71;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003121}}
.control-group.warning > .input-icon, .control-group.warning input + .input-icon {
  color: #f1c40f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003126}}
.control-group.error > .input-icon, .control-group.error input + .input-icon {
  color: #e74c3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003131}}
.control-group.disabled > .input-icon, .control-group.disabled input + .input-icon {
  color: #d4dbdb;
  background-color: #f4f6f6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003143}}
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #f4f6f6;
  border-color: #d4dbdb;
  color: #d4dbdb;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003153}}
input,
textarea,
.uneditable-input {
  width: 192px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003158}}
textarea {
  height: auto;
  font-size: 66.9375%;
  /* 15px */
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003165}}
.row-fluid textarea {
  height: auto;
  width: 100% !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_input\.scss}line{font-family:\00003170}}
textarea[class*="span"] {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000310}}
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 66.9375%;
  /* 15px */
  font-weight: 500;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000315}}
.btn {
  border: none;
  background: #6cb7b4;
  color: white;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000334}}
.btn:hover, .btn:focus, .btn-group:focus .btn.dropdown-toggle {
  background-color: #7dbfbd;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000343}}
.btn:active, .btn-group.open .btn.dropdown-toggle, .btn.active {
  background-color: black;
  color: fade(#191919, 75%);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000351}}
.btn.disabled, .btn[disabled] {
  background-color: #605f5b;
  color: fade(#191919, 75%);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=7000);
  opacity: 70;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000362}}
.btn.btn-large {
  font-size: 75.875%;
  /* 17px */
  line-height: 20px;
  padding: 12px 18px 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000367}}
.btn.btn-large > [class^="fui-"] {
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000370}}
.btn.btn-large > [class^="fui-"].pull-right {
  margin-right: -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000378}}
.btn.btn-primary {
  background-color: #1abc9c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000328}}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #47c9af;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000333}}
.btn.btn-primary:active, .btn-group.open .btn.btn-primary.dropdown-toggle, .btn.btn-primary.active {
  background-color: #169f84;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000381}}
.btn.btn-info {
  background-color: #3498db;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000328}}
.btn.btn-info:hover, .btn.btn-info:focus, .btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5cace2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000333}}
.btn.btn-info:active, .btn-group.open .btn.btn-info.dropdown-toggle, .btn.btn-info.active {
  background-color: #2c81ba;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000384}}
.btn.btn-danger {
  background-color: #e74c3c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000328}}
.btn.btn-danger:hover, .btn.btn-danger:focus, .btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #eb6f62;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000333}}
.btn.btn-danger:active, .btn-group.open .btn.btn-danger.dropdown-toggle, .btn.btn-danger.active {
  background-color: #c44033;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000387}}
.btn.btn-success {
  background-color: #2ecc71;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000328}}
.btn.btn-success:hover, .btn.btn-success:focus, .btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #57d68d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000333}}
.btn.btn-success:active, .btn-group.open .btn.btn-success.dropdown-toggle, .btn.btn-success.active {
  background-color: #27ad60;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000390}}
.btn.btn-warning {
  background-color: #f1c40f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000328}}
.btn.btn-warning:hover, .btn.btn-warning:focus, .btn-group:focus .btn.btn-warning.dropdown-toggle {
  background-color: overlay(#f1c40f, #9f9f9f);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000333}}
.btn.btn-warning:active, .btn-group.open .btn.btn-warning.dropdown-toggle, .btn.btn-warning.active {
  background-color: #cca60c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000393}}
.btn.btn-inverse {
  background-color: #34495e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000328}}
.btn.btn-inverse:hover, .btn.btn-inverse:focus, .btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: overlay(#34495e, #9f9f9f);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/_mixins\.scss}line{font-family:\0000333}}
.btn.btn-inverse:active, .btn-group.open .btn.btn-inverse.dropdown-toggle, .btn.btn-inverse.active {
  background-color: #2c3e4f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\0000399}}
.btn > [class^="fui-"] {
  margin: 0 4px;
  position: relative;
  top: 1px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003106}}
.btn > [class^="fui-"].pull-right {
  margin-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003115}}
.btn-toolbar .btn.active {
  color: #191919;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003118}}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003121}}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003124}}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003131}}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003139}}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003145}}
.btn-group > .btn:active + .btn, .btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003149}}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003153}}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003157}}
.btn-group > .btn + .btn {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003160}}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid fade(#34495e, 15%);
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003166}}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003172}}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/modules\/_buttons\.scss}line{font-family:\00003178}}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* #Config ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby200-x64\/lib\/ruby\/gems\/2\.0\.0\/gems\/susy-1\.0\.9\/sass\/susy\/_grid\.scss}line{font-family:\0000314}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* #Main Styles ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000334}}
body {
  background-color: #9acdcb;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF9ACDCB', endColorstr='#FF9ACDCB');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWFjZGNiIi8+PHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiM5YWNkY2IiLz48c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2E2ZDNkMSIvPjxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjYWJkNWQ0Ii8+PHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNhOWQ0ZDMiLz48c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzlhY2RjYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhY2RjYiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #9acdcb), color-stop(14%, #9acdcb), color-stop(30%, #a6d3d1), color-stop(44%, #abd5d4), color-stop(61%, #a9d4d3), color-stop(84%, #9acdcb), color-stop(100%, #9acdcb));
  background-image: -webkit-radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
  background-image: radial-gradient(center, ellipse cover, #9acdcb 0%, #9acdcb 14%, #a6d3d1 30%, #abd5d4 44%, #a9d4d3 61%, #9acdcb 84%, #9acdcb 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000342}}
logo {
  padding: 0;
  font-size: 28px;
  color: #7f7f7f;
  text-align: center;
  text-transform: uppercase;
  margin: 13px 0;
  line-height: 0.85em;
  font-family: sdFont, Arial, serif;
  width: 100%;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000353}}
logo span {
  color: #6cb7b4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000358}}
form {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000363}}
form input, form button {
  width: 80%;
  padding: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000370}}
.login {
  color: #FFF;
  top: 50%;
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000375}}
.login a {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000381}}
#openid_choice {
  margin: 0px 0 0;
  height: 25px;
  width: 200px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000387}}
.providers {
  margin: 0 5px 0 0;
  float: left;
  width: 95px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000391}}
.providers li {
  background: transparent !important;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\0000395}}
.providers span:first-child {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\00003100}}
#janrain-facebook a, #janrain-twitter a {
  background: url("/img/icons/social-icons.png") no-repeat scroll 6px 2px #597db5;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 -2px 0 0 #1C498E inset;
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  line-height: 21px;
  margin-top: -2px;
  overflow: hidden;
  padding-bottom: 2px;
  padding-left: 26px;
  text-align: center;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\00003118}}
span.janrain-provider-text-color-facebook, span.janrain-provider-text-color-twitter {
  color: #FFFFFF !important;
  font-weight: bold;
  font-family: tahoma;
  padding: -r;
  padding-right: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/platforms\/android\/assets\/www\/docroot\/sass\/style\.scss}line{font-family:\00003126}}
#janrain-twitter a {
  background-position: 2px -25px;
  background-color: #00ACED;
  box-shadow: 0 -2px 0 0 #0082b3 inset;
}
