<% if(data.length>0){Object.keys(data).forEach(function(key){ var currentSex = data[key];%>
		<div class="awho" data-id="<%= currentSex.id %>">
			<div class="person"><%= currentSex.who %></div>
			<div class="useage"><div class="number"><%= currentSex.useage %> Sexes</div></div>
		</div>
<%	}); }else { %>
	<div class="nostats">
		<h1>Missing a Who!?</h1>
		<p>So you've been lonley or just never added a Who</p>
		<a href="#whoadd">Add one here, or the <i class="icon-user-add"></i> at the top right of this screen...</a>
	</div>
<% } %>