<% if(data.length>0){ %>
	<results class="searchbox">
		<input type="text" placeholder="Search..." id="searchwho"/>
		<whoReturned class="blocks">

		</whoReturned>
		<input type="hidden" id="whos"/>
	</results>
<% }else { %>
	<div class="nostats">
		<h1>Missing a Who!?</h1>
		<p>So you've been lonley or just never added a Who</p>
		<a href="#whoadd">Add one here, or the <i class="icon-user-add"></i> at the top right of this screen...</a>
	</div>
<% } %>