<result data-name="<%= data.item.who %>" data-id="<%= data.item.id %>"<% if(data.selected){ %> class="selected"<% } %>>
	<info>
		<div>
			<h2><%= data.item.who %></h2>
		</div>
	</info>
	<detailsimage>
		<div>
			<img src="img/sex/who.png" alt="<%= data.item.who %>"/>
		</div>
	</detailsimage>
</result>