@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000318}}
.pie-element, .test {
  behavior: url("/stylesheets/PIE.htc");
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000324}}
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background: #EEE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000332}}
.section {
  border: 1px solid #CCC;
  padding: 1em 2em 2em;
  margin: 3em;
  background: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000339}}
.section h2 {
  border: 1px solid #CCC;
  position: relative;
  left: -3em;
  top: -2em;
  background: #FFF;
  font-size: 1em;
  padding: .25em 1em;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000350}}
.section code {
  display: block;
  white-space: pre;
  margin-left: 250px;
  min-height: 100px;
  color: #999;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000358}}
.section code strong {
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000362}}
.test {
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px solid;
  background: #FFF;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000373}}
#test1 {
  border-color: #c00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000378}}
#test2 {
  border-color: #090;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: #999999 0 0.25em 0.5em;
  -moz-box-shadow: #999999 0 0.25em 0.5em;
  box-shadow: #999999 0 0.25em 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000384}}
#test3 {
  border-color: #00c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: #999999 0 0.25em 0.5em;
  -moz-box-shadow: #999999 0 0.25em 0.5em;
  box-shadow: #999999 0 0.25em 0.5em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccff), color-stop(100%, #0033cc));
  background: -webkit-linear-gradient(#99ccff, #0033cc);
  background: -moz-linear-gradient(#99ccff, #0033cc);
  background: -o-linear-gradient(#99ccff, #0033cc);
  -pie-background: linear-gradient(#99ccff, #0033cc);
  background: linear-gradient(#99ccff, #0033cc);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\0000391}}
#test4 {
  border-color: #F99;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: #999999 0 0.25em 0.5em;
  -moz-box-shadow: #999999 0 0.25em 0.5em;
  box-shadow: #999999 0 0.25em 0.5em;
  background: white url('../app/www/img/icon-ie.png') no-repeat 50% 0;
  -pie-background: url('../app/www/img/icon-ie.png') no-repeat 50% 0, url('../app/www/img/icon-firefox.png') no-repeat 0 0, url('../app/www/img/icon-chrome.png') no-repeat 100% 0, url('../app/www/img/icon-safari.png') no-repeat 0 100%, url('../app/www/img/icon-opera.png') no-repeat 100% 100% white;
  background: url('../app/www/img/icon-ie.png') no-repeat 50% 0, url('../app/www/img/icon-firefox.png') no-repeat 0 0, url('../app/www/img/icon-chrome.png') no-repeat 100% 0, url('../app/www/img/icon-safari.png') no-repeat 0 100%, url('../app/www/img/icon-opera.png') no-repeat 100% 100% white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/var\/www\/sexdiaries\.co\.uk\/sdapp\/sass\/src\/pie\.scss}line{font-family:\00003105}}
#test5 {
  -moz-border-image: url('../app/www/img/border2.png') 15 stretch;
  -webkit-border-image: url('../app/www/img/border2.png') 15 stretch;
  -webkit-border-image: url('../app/www/img/border2.png') 15 stretch;
  -o-border-image: url('../app/www/img/border2.png') 15 stretch;
  border-image: url('../app/www/img/border2.png') 15 stretch;
  border: 15px solid transparent;
  width: 180px;
}
