<result data-name="<%= data.name %>" data-id="<%= data.id %>">
	<info>
		<div>
			<h2><%= data.name %></h2>
		</div>
	</info>
	<detailsimage>
		<div>
			<img src="img/sex/who.png" alt="<%= data.who %>"/>
		</div>
	</detailsimage>
</result>