<results>
	<!--<date>-->
		<!--<info>-->
			<!--<div>-->
				<!--Today, Mon 28-->
			<!--</div>-->
		<!--</info>-->
	<!--</date>-->
	<input type="text" placeholder="Search..." id="searchwho"/>
	<resultsreturned class="blocks">

	</resultsreturned>
	<addContact>
		<info>
			<div>
				Got lucky? Add a new fuck person.
			</div>
		</info>
	</addContact>
</results>