<results class="searchbox">
	<input type="text" placeholder="Search..." id="searchwho"/>
	<whoReturned class="blocks">

	</whoReturned>
	<addContact>
		<info>
			<div>
				Got lucky? Add a new fuck person.
			</div>
		</info>
	</addContact>
	<input type="hidden" id="whos"/>
</results>