<person data-name="<%= data.who %>">
	<info>
		<div>
			<h2><%= data.who %></h2>
		</div>
	</info>
	<detailsimage>
		<div>
			<img src="img/sex/who.png" alt="<%= data.who %>"/>
		</div>
	</detailsimage>
</person>